<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <!-- PERMISOS -->

  <uses-permission android:name="android.permission.CAMERA" />

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <uses-permission android:name="android.permission.INTERNET" />

  <!-- FEATURES -->

  <uses-feature
      android:name="android.hardware.camera"
      android:required="true" />

  <uses-feature
      android:name="android.hardware.camera.ar"
      android:required="true" />

  <uses-feature
      android:glEsVersion="0x00020000"
      android:required="true" />

  <application
      android:appCategory="game"
      android:allowBackup="false"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="false"
      tools:ignore="GoogleAppIndexingWarning">

    <!-- MAIN -->

    <activity
        android:name=".MainActivity"
        android:exported="true">

      <intent-filter>

        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />

      </intent-filter>

    </activity>

    <!-- MAPA -->

    <activity
        android:name=".activities.MapActivity"
        android:exported="false" />

    <!-- DETALLE DEL PUNTO -->

    <activity
        android:name=".activities.DetailPointActivity"
        android:exported="false" />

    <!-- REALIDAD AUMENTADA -->

    <activity
        android:name=".helloar.HelloArActivity"
        android:configChanges="orientation|screenSize"
        android:exported="false"
        android:screenOrientation="locked"
        android:theme="@style/Theme.AppCompat.NoActionBar" />

    <!-- ARCORE -->

    <meta-data
        android:name="com.google.ar.core"
        android:value="required" />

    <!-- GOOGLE MAPS API -->

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyALpUGRJHCg6P-vZlNTJFl6FdyFi6wHaz8" />

  </application>

</manifest>